@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

header {
    background: #222;
    padding: 20px 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

header nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    transition: all 500ms ease;
}

header nav a.btn {
    padding: 5px;
    border: solid 1px silver;
    border-radius: 5px;
    text-align: center;
}

header nav a:hover {
    color: #a1a1a1;
}

header nav a.btn:hover {
    border-color: #de7474;
}

main {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    width: 50%;
}

aside {
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    width: 400px;
}

aside .info {
    background: #ffc007;
    color: #42410c;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    line-height: 140%;
    border-radius: 5px;
}

aside .info h2 {
    margin-bottom: 10px;
}

aside img {
    width: 100%;
    border: 5px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 30px;
}

form {
    margin: 30px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    cursor: pointer;
}

form input,
form textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}


form button {
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: #fec008;
    color: #42410c;
    transition: transform 500ms ease;
}

form button:hover,
.btn_delete:hover,
.post a:hover {
    transform: scale(1.1);
}

.error_mess {
    color: #de7474;
    margin: 10px 0;
    font-weight: 600;
    display: none;
}

.success_mess {
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px;
    background: #7ed57d;
    font-weight: 600;
    margin-top: 30px;
    display: none;
}

.user_block {
    width: 100%;
    background: #fec008;
    padding: 20px;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #42410c;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_delete {
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: #e95d5d;
    color: #fff;
    font-weight: 600;
    transition: transform 500ms ease;
}

.post {
    margin-bottom: 50px;
}

.post h1 {
    margin-bottom: 10px;
}

.post .avtor {
    margin-top: 15px;
    font-weight: 600;
}

.post .avtor span {
    background: #e1bb4a;
    padding: 2px 7px;
    font-weight: 300;
    border-radius: 2px;
}

.post a {
    text-decoration: none;
    display: block;
    margin-top: 20px;
    width: 100px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    background: #fec008;
    color: #42410c;
    transition: transform 500ms ease;
}

.comment {
    width: 100%;
    background: #fec008;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #42410c;
    margin-bottom: 30px;
}


.chat {
    float: right;
    margin-right: 100px;
    width: 400px;
    margin-top: 30px;
    padding-bottom: 165px;
}

.chat input {
    box-sizing: border-box;
}

.message {
    width: 100%;
    background: #fec008;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #42410c;
    margin-bottom: 15px;
}

.noMessage {
    width: 100%;
    background: #fec008;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #42410c;
    margin-bottom: 15px;
}

#clean_chat {
    margin-left: 10px;
}

footer {
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background: #222;
    padding: 30px;
    color: #fff;
    display: block;
    margin-top: 265px;
}

@media (max-width: 1215px) {
    header {
        padding: 20px 50px;
    }

    main {
        margin-left: 50px;
    }

    aside {
        margin-right: 50px;
    }

    .chat {
        margin-right: 50px;
    }
}

@media (max-width: 1015px) {
    header {
        padding: 20px 20px;
    }

    main {
        margin-left: 20px;
    }

    aside {
        margin-right: 20px;
    }

    .chat {
        margin-right: 20px;
    }
}

@media (max-width: 945px) {
    header {
        padding: 20px 20px;
        flex-direction: column;
    }

    header .logo {
        padding-bottom: 15px;

    }

    main {
        margin-left: 10px;
    }

    aside {
        margin-right: 10px;
    }

    .chat {
        margin-right: 10px;
    }

}

@media (max-width: 855px) {
    main {
        margin-left: 10px;
    }

    aside {
        width: 300px;
    }

    .chat {
        width: 300px;
        margin-right: 10px;
    }
}

@media (max-width: 820px) {
    header {
        align-items: normal;
    }

    header nav a {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-bottom: 15px;
    }

}

@media (max-width: 655px) {
    aside {
        width: 250px;
    }

    .chat {
        width: 250px;
        margin-right: 10px;
    }

}

@media (max-width: 555px) {
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    aside {
        width: 90%;
        float: none;
        margin: 0 auto;
        margin-top: 20px;
    }

    .chat {
        float: none;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0px;
        margin-top: 20px;
    }

    form input,
    form textarea {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .user_block {
        margin-top: 15px;
    }

    main h1 {
        margin-top: 20px;
    }

    footer {
        margin-top: 70px;
    }

}